<!DOCTYPE html>
<html lang="en">


<div id="stats"> >


    <div class="growl">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}"
               close="closeAlert($index)">{{alert.msg}}
        </alert>
    </div>

    <div class="container">


        <div id="page-content">


            <div class="row">
                <button ng-click="getLastEvents()">Update</button>
            </div>

            <div class="row">
                <table st-table="events" class="table table-striped">
                    <thead>
                    <tr>
                        <th st-sort="action">action</th>
                        <th st-sort="body">action</th>
                        <th st-sort="ts">timestamp</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="action" placeholder="search for action"
                                   class="input-sm form-control" type="search"/>
                        </th>
                        <th>
                            <input st-search="dest" placeholder="search for dest" class="input-sm form-control"
                                   type="search"/>
                        </th>
                        <th>
                            <input st-search="ts" placeholder="search for ts" class="input-sm form-control"
                                   type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="e in events">
                        <td>{{e.action}}</td>
                        <td>{{e.dest}}</td>
                        <td>{{e.ts | date:'dd-MM-yyyy HH:mm'}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>


        </div>
    </div>


</div>


</div>

</html>