<div class="flex-3">
  <div class="panel panel-default panel--dropshadow">
    <div class="panel-body">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="myTabs">
        <li role="presentation" class="active"><a href="#transavia" aria-controls="transavia" role="tab" data-toggle="tab">Transavia</a></li>
        <li role="presentation"><a href="#world" aria-controls="world" role="tab" data-toggle="tab">World wide</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="transavia">

          <form>

            <div class="form-group">
              <legend>Fly from</legend>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>Rotterdam</span>
                </label>
              </div>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>Amsterdam</span>
                </label>
              </div>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>Winssen</span>
                </label>
              </div>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>Dronten</span>
                </label>
              </div>
            </div>

            <div class="form-group">
              <legend>Flight dates (Fri - Sun)</legend>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>19-May - 21-May</span>
                </label>
              </div>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>19-May - 21-May</span>
                </label>
              </div>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>19-May - 21-May</span>
                </label>
              </div>
              <div class="checkbox checkbox-slider--b">
                <label>
                  <input type="checkbox"><span>19-May - 21-May</span>
                </label>
              </div>
            </div>
          </form>

        </div>
        <div role="tabpanel" class="tab-pane" id="world">...</div>
      </div>


    </div>


  </div>
</div>

